

*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
    }


nav {
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    /* position: fixed; */
    grid-column: 1/4;
    grid-row: 1/2;
    
}    

.wrapper{
    display: grid;
    width: 100%;
    height: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: .5em;
    grid-row-gap: .5em;
    margin: 0 auto;
    background-color: #ffffff;
}

.wrapper > div{
    box-shadow: 0px 0px 5px 0px rgba(171,171,171,1);
    background-color: #ffffff;
    border-radius: 5px;
}




.section1{
    
    grid-column: 1/2;
    grid-row: 2/8;
    
    
}

.section2{
    
    grid-column: 2/4;
    grid-row:2/4;
    
}

.section3{
    
    grid-column: 2/4;
    grid-row:4/6;
    
}

.section4{
    
    grid-column: 2/4;
    grid-row: 6/8;
    
}